<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3078ede8-285d-4a25-95c7-b6a832fb58fe/resourceGroups/RG-INVEST-DEV/providers/Microsoft.Web/sites/webapp-invest-dev</ResourceId>
    <ResourceGroup>RG-INVEST-DEV</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapp-invest-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6c3fac16-f3ea-43ee-8752-053dcc36d49c</ProjectGuid>
    <PublishUrl>https://webapp-invest-dev.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp-invest-dev</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>